{% extends 'base.html' %}

{% block content %}
    <h2>Welcome to Django Blog</h2>
    <p>This is the home page.</p>
    
    {% if user.is_authenticated %}
        <p>Hello, {{ user.username }}! You are logged in.</p>
        <a href="{% url 'post-create' %}">Create a new post</a> or 
        <a href="{% url 'post-list' %}">browse all posts</a>.
    {% else %}
        <p>Please <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register</a> to create posts.</p>
        <a href="{% url 'post-list' %}">Browse all posts</a>
    {% endif %}
{% endblock %}